.app-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  height: 60px;
  width: 120px;
}

.password-upper-container {
  background-color: #454f84;
  height: 40vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-container {
  background-color: #5763a5;
  height: 20vh;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.heading {
  color: white;
  font-size: 34px;
  font-family: 'Roboto';
}

.password-img {
  height: 150px;
  width: 150px;
}
